
.tool-header, .tool-open {
    background-color: #0096d6;
    font-size: 1em;
    padding: .3em 1em;
    color: white;
    cursor: pointer;
    border: 1px solid #ffffff;
}

.tool-header {
    font-size: 1.1em;
}

.tool-open {
    background-color: #0096d6 !important;
}

.tool-content {
    padding: .5em 1em;
    max-height: 300px; /* fallback style */
    max-height: 30vh;
    overflow-y: auto;
    font-size: 1em;
    border: 1px solid #b9b9b9;
}

.tool-header:hover {
    background-color: #048cc5;
    color: white;
}